<div class="body">
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand logo" href="#">
      <img src="logo.png" alt="Logo" width="150" height="30">
    </a>


    <!-- Collapse con links y botón -->
    <div class="collapse navbar-collapse ms" id="navbarNav">


      <!-- Botón al final a la derecha en pantallas grandes -->
      <a (click)="cerrarSesion()" class="btn nav-btn ms-lg-auto mt-2 mt-lg-0">Cerrar Sesión</a>
    </div>
  </div>
</nav>

  <main class="app-main">
    <router-outlet></router-outlet>
  </main>

  <footer class="app-footer">
    <p>CrediTest © {{ currentYear }} — Todos los derechos reservados</p>
  </footer>
</div>
