.body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* ocupa toda la pantalla */
}

.nav-link{
  cursor: pointer;
}
.navbar {
  width: 100%;
  padding: 1rem 2.5rem;
  background: var(--header-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--shadow-soft);
  position: sticky;
  top: 0;
  z-index: 20;
  backdrop-filter: blur(12px);

  .logo {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;

    li a {
      color: var(--text-main);
      text-decoration: none;
      font-size: 1rem;
      padding: 0.3rem 0.4rem;
      transition: var(--transition-fast);

      &:hover {
        color: var(--primary-300);
      }

      &.active {
        color: var(--primary-500);
        font-weight: 600;
      }
    }
  }

  .nav-btn {
    padding: 0.5rem 1.2rem;
    background: var(--btn-primary-bg);
    color: var(--btn-primary-text);
    border: none;
    border-radius: var(--radius);
    cursor: pointer;
    transition: var(--transition-normal);
    box-shadow: var(--shadow-soft);

    &:hover {
      background: var(--btn-primary-hover);
      box-shadow: var(--shadow-strong);
      transform: translateY(-2px);
    }

    &:active {
      transform: scale(0.97);
    }
  }


  .navbar-toggler {
    border: none;
    background-color: transparent;

    &:focus {
      box-shadow: none;
      outline: none;
    }


  }

  @media (min-width: 1280px) {
    .ms {
      margin-left: 200px;
    }
  }


}


.w {
  width: 150px;
}


.app-main {
  flex: 1;
  width: 100%;
  /* max-width: 1300px; */
  margin: 0 auto;
  padding: clamp(1.5rem, 3vw, 3rem) 1rem;
  background: var(--background-main);
  /* border: 5px solid rgb(75, 91, 238); */
}


.app-footer {
  background: var(--footer-bg);
  padding: 1rem 1rem;
  text-align: center;
  border-top: 1px solid var(--border-color);
  box-shadow: var(--shadow-soft);

  p {
    color: var(--text-secondary);
    font-size: clamp(0.85rem, 1.6vw, 1rem);
  }
}

/* RESPONSIVE */
@media (max-width: 480px) {
  .app-header {
    padding: 1.3rem 1rem;

    .header-content {
      .logo {
        width: 90px;
      }

      .subtitle {
        font-size: 0.9rem;
      }
    }
  }

  .app-footer p {
    font-size: 0.85rem;
  }
}

