<div class="container-administracion">

  <!-- Sidebar -->
  <aside class="sidebar glass">

    <!-- Perfil -->
    <div class="admin-box">
      <img src="https://i.pravatar.cc/120" alt="Admin Avatar" class="avatar" />
      <h3 class="admin-name">Administrador</h3>
      <p class="admin-role">Panel de control</p>
    </div>

    <h2 class="logo">CrediTest</h2>

    <nav class="menu">
      <a routerLink="/dashboard/admin/perfil" routerLinkActive="active">Perfil</a>
      <a routerLink="/dashboard/admin/tasas" routerLinkActive="active">Tasas de interés</a>
      <a routerLink="riesgo" routerLinkActive="active">Perfiles de riesgo</a>
      <a routerLink="reglas" routerLinkActive="active">Reglas de negocio</a>
    </nav>
  </aside>

  <!-- Contenido principal -->
  <main class="main-content glass">
    <router-outlet></router-outlet>
  </main>

</div>

