<section class="container-simulador">
  <div class="simulador-container">
    <h1>¿Cuanto dinero necesitas?</h1>
    <!-- Monto -->
    <div class="monto-input-wrapper">
      <span class="currency">$</span>
      <input type="number" class="monto-input" placeholder="0" min="1000000" max="500000000" />
    </div>
    <!-- <hr> -->

    <p class="monto-info">
      Monto Mínimo: 1.000.000 - Monto Máximo: 500.000.000
    </p>

    <!-- Form-->
    <div class="form-grid">

      <!-- Meses -->
      <div class="form-item">
        <label>¿A cuántos meses?</label>
        <input type="number" min="48" max="84" value="48" placeholder="48" />
        <small>Elige un plazo desde 48 y hasta 84 meses</small>
      </div>

      <!-- Fecha nacimiento -->
      <div class="form-item">
        <label for="fecha-nacimiento">Fecha de nacimiento</label>
        <input type="date" id="fecha-nacimiento" min="1940-01-01" max="2007-12-31" />
        <small>Debes tener entre 18 y 84 años para solicitar el crédito.</small>
      </div>

    </div>

    <!-- Botón -->
    <button class="btn-simular">
      SIMULAR
    </button>
  </div>

</section>
