<div class="tasas-container">

  <!-- Encabezado -->
  <div class="header-tasas">
    <h2>Tasas de interés</h2>
    <button (click)="limpiarModal()" class="btn-crear" data-bs-toggle="modal" data-bs-target="#modal-crear-tasa">+ Crear
      nueva tasa</button>
  </div>

  <!-- Contenedor de tarjetas -->
  <div class="cards-tasas">

    @for (item of tasasObtenidas; track $index) {
    <div class="card-tasa glass">
      <div class="card-header">
        <span class="tipo">{{item.type == 'fixed' ? 'Fija' : 'Variable'}}</span>
        <div class="acciones">
          <button (click)="verTasa(item._id)" class="icon-btn" data-bs-toggle="modal"
            data-bs-target="#modal-editar-tasa">
           <svg width="20" height="25" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M12.8452 3.51265L16.4873 7.15476L6.84524 16.7968L3.33333 17.5L4.03651 13.9878L12.8452 3.51265ZM18.006 5.6369C18.3909 5.25208 18.3909 4.62451 18.006 4.2397L15.7603 1.99398C15.3755 1.60917 14.7479 1.60917 14.3631 1.99398L12.6131 3.74398L16.256 7.3869L18.006 5.6369Z"
                fill="#0084ff" />
            </svg>
          </button>
          <button (click)="eliminarTasa(item._id)" class="icon-btn eliminar">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M7.5 3.33333L8.33333 2.5H11.6667L12.5 3.33333H16.6667V5H3.33333V3.33333H7.5ZM4.16667 6.66667H15.8333L15 16.25C15 17.4167 14.1667 18.3333 13.3333 18.3333H6.66667C5.83333 18.3333 5 17.4167 5 16.25L4.16667 6.66667Z"
                fill="#0084ff" />
            </svg>
          </button>
        </div>
      </div>

      <div class="card-body">
        <p><strong>Tasa Base:</strong> {{item.baseRate}} % anual</p>
        <p><strong>Margen:</strong> {{item.spread}} %</p>
        @if (item.type == 'variable') {
        <p><strong>Rango:</strong> {{item.minRate}} % - {{item.maxRate}} %</p>
        <p><strong>Volatilidad:</strong> {{item.volatility}} %</p>
        }
        <p><strong>Seguro de Vida:</strong> {{ (item.sure * 100) | number:'1.2-3' }} %</p>
        <p><strong>Desde:</strong> {{item.startDate.split('T')[0]
          }}</p>
        <p><strong>Hasta:</strong> {{item.endDate.split('T')[0]}}</p>
      </div>
    </div>
    }
  </div>
</div>



<!-- MODAL CREAR NUEVA TASA -->
<div class="modal fade" id="modal-crear-tasa" data-bs-backdrop="false">
  <div class="modal-dialog">
    <div class="modal-content glass">

      <div class="modal-header">
        <h5 class="modal-title">Crear nueva tasa</h5>
        <button id="cerrarModalCrearTasa" type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body" [formGroup]="tasasForm">

        <label class="form-label">Tipo de tasa</label>
        <select class="form-control" formControlName="type">
          <option value="fixed">Fija</option>
          <option value="variable">Variable</option>
        </select>

        <label class="form-label mt-3">Tasa de interes base (%)</label>
        <input type="number" class="form-control" formControlName="baseRate" placeholder="Ej: 12">

        <label class="form-label mt-3">margen (%)</label>
        <input type="number" class="form-control" formControlName="spread" placeholder="Ej: 1.5">

        @if (isVariable) {

        <label class="form-label mt-3">Volatilidad (%)</label>
        <input type="number" class="form-control" formControlName="volatility" placeholder="Ej: 0.5">

        <label class="form-label mt-3">Tasa minima (%)</label>
        <input type="number" class="form-control" formControlName="minRate" placeholder="Ej: 8">

        <label class="form-label mt-3">Tasa Maxima (%)</label>
        <input type="number" class="form-control" formControlName="maxRate" placeholder="Ej: 15">
        }

        <label class="form-label mt-3">Seguro de Vida (%)</label>
        <input type="number" class="form-control" formControlName="sure" placeholder="Ej: 0.35">


        <label class="form-label mt-3">Desde</label>
        <input type="date" class="form-control" formControlName="startDate">

        <label class="form-label mt-3">Hasta</label>
        <input type="date" class="form-control" formControlName="endDate">

      </div>


      <div class="modal-footer">
        <button (click)="createRates()" class="btn btn-primary">Crear</button>
        <button class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>

    </div>
  </div>
</div>



<!-- MODAL EDITAR TASA -->
<div class="modal fade" id="modal-editar-tasa" data-bs-backdrop="false">
  <div class="modal-dialog">
    <div class="modal-content glass">

      <div class="modal-header">
        <h5 class="modal-title">Modificar tasa {{isVariable == true ? 'Variable' : 'Fija'}}</h5>
        <button id="cerrarModalEditarTasa" type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body" [formGroup]="tasasForm">

        <label class="form-label mt-3">Tasa de interes base (%)</label>
        <input type="number" class="form-control" formControlName="baseRate" placeholder="Ej: 12">

        <label class="form-label mt-3">margen (%)</label>
        <input type="number" class="form-control" formControlName="spread" placeholder="Ej: 1.5">

        @if (isVariable) {

        <label class="form-label mt-3">Volatilidad (%)</label>
        <input type="number" class="form-control" formControlName="volatility" placeholder="Ej: 0.5">

        <label class="form-label mt-3">Tasa minima (%)</label>
        <input type="number" class="form-control" formControlName="minRate" placeholder="Ej: 8">

        <label class="form-label mt-3">Tasa Maxima (%)</label>
        <input type="number" class="form-control" formControlName="maxRate" placeholder="Ej: 15">
        }

        <label class="form-label mt-3">Seguro de Vida (%)</label>
        <input type="number" class="form-control" formControlName="sure" placeholder="Ej: 0.35">

        <label class="form-label mt-3">Desde</label>
        <input type="date" class="form-control" formControlName="startDate">

        <label class="form-label mt-3">Hasta</label>
        <input type="date" class="form-control" formControlName="endDate">

      </div>

      <div class="modal-footer">
        <button (click)="actualizarTasa()" class="btn btn-primary">Guardar</button>
        <button class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>

    </div>
  </div>
</div>
