.container-cards{
  display: flex;
  flex-wrap: wrap;
}

.aprobado-card {
  background: var(--background-card);
  color: var(--text-main);
  padding: 24px;
  border-radius: var(--radius);
  box-shadow: var(--shadow-strong);
  width: 100%;
  max-width: 380px;
  margin: 0 auto;
  border: 1px solid var(--border-color);
  position: relative;
  transition: var(--transition-normal);
}

.aprobado-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 0 20px var(--glow-400);
}

/* HEADER */
.aprobado-header {
  margin-bottom: 18px;
}

.aprobado-header p {
  font-size: 10px;
  color: var(--text-main);
  margin-top: 2rem;
}

.aprobado-header strong {
  font-size: 1.5rem;
  color: var(--text-main);
  margin-top: 2rem;
}

/* BADGE APROBADO */
.badge-aprobado {
  background: rgb(1, 69, 1);
  padding: 6px 12px;
  font-size: 0.85rem;
  border-radius: 50px;
  color: #fff;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0,255,160,0.3);
}

/* BODY INFO */
.aprobado-body .info-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--border-color);
}

.aprobado-body span {
  color: var(--text-secondary);
}

.aprobado-body strong {
  color: var(--glow-200);
  font-weight: 600;
}

/* FOOTER BUTTONS */
.aprobado-footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.btn-aceptar,
.btn-rechazar {
  flex: 1;
  padding: 12px 0;
  border-radius: var(--radius);
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: var(--transition-fast);
}

/* ACEPTAR */
.btn-aceptar {
  background: var(--success-600);
  color: white;
}

.btn-aceptar:hover {
  background: var(--success-500);
}

/* RECHAZAR */
.btn-rechazar {
  background: var(--primary-700);
  color: white;
}

.btn-rechazar:hover {
  background: var(--primary-600);
}
